@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'typography' as t;

.footer {
  padding: f.spacing(2);
  background-color: v.$color-primary;
  color: v.$color-muted;
  text-align: center;
  font-size: f.modular-scale(-1);

  &__text {
    margin: 0;
    line-height: 1.5;
  }
}

@include m.respond-to(v.$breakpoint-md) {
  .footer {
    padding: f.spacing(1);
    font-size: v.$font-size-sm;
  }
}